/* Colors and Fonts */
body {
  background-color: #EBEBEB;
  font-family: 'Open Sans', sans-serif;
  color: #7d7d7d;
  font-size: 15px;
  line-height: 1.6em;
  font-weight: 300;
}
h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}
h1 {
  color: #DD5555;
  font-size: 22px;
}
h2 {
  font-size: 18px;
  font-weight: 300;
}
h3 {
  font-size: 16px;
  font-weight: 300;
  text-align: start;
}
a {
  color: #ccc;
  text-decoration: none;
}
a:hover {
  color: #DD5555;
}
/*@media (max-width: 960px) {
  .container {
    width: 700px;
    margin: 30px auto;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
    margin: 30px auto;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
    margin: 30px auto;
  }
}*/
.container-fluid {
  width: 90%;
  margin: 30px auto;
}
.card {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
}
.img-circle {
  border-radius: 50%;
}
.text-center {
  text-align: center;
}
.list-inline {
  padding-left: 0px;
}
.list-inline li {
  display: inline-block;
  padding: 20px;
}
.list-inline li i {
  font-size: 25px;
}
.btn-red {
  background-color: #DD5555;
  color: white;
  font-weight: 500;
  padding: 10px;
  border-radius: 4px;
}
.btn-red:hover {
  background-color: #C61414;
  color: white;
}

/* Specific CSS rules */
#img-profile {
  width: 100px;
  height: 100px;
  border: 3px solid #cccccc;
}

/* Fixed sidebar layout */
#page-content {
  margin-left: 120px;
}
#sidebar {
  background-color: #384047;
  position: fixed;
  width: 120px;
  left: 0;
  top: 0;
  bottom: 0;
  text-align: center;
}
#sidebar ul {
  list-style: none;
  padding-left: 0px;
}
#sidebar li {
  margin-top:50px;
  margin-bottom: 50px;
}
#sidebar a {
  font-size: 25px;
  color:#788188;
}
#sidebar a:hover {
  color: white;
}

/* Responsive layout behavior */
@media (max-width: 768px) {
  #page-content{
    margin-left: 0px;
  }
  #sidebar {
    display: none;
  }
}

/* jquery-gallery-lightbox-with-nav */
ul#imageGallery {
  padding: 0;
  text-align: center;
}
ul#imageGallery li {
  display: inline-block;
  margin: 10px;
}
ul#imageGallery li a img {
  width: 250px;
}
#overlay {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}
#overlay .holder {
  max-width: 80%;
  margin: 0 auto;
  position: relative;
}
#overlay .holder img {
  width: 100%;
  /*max-width: 600px;*/
  cursor: pointer;
  box-sizing: border-box;
  display: block;
}
/*#overlay .holder p {
  color: #ffffff;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  padding: 10px;
}*/
#overlay .holder .nav {
  max-width: 80%;
  margin: 0 auto;
  font-size: 14px;
}
#overlay .holder .nav a {
  color: white;
  opacity: 0.3;
  -webkit-user-select: none;
  cursor: pointer;
}
#overlay .holder .nav a:hover {
  opacity: 1;
}
#overlay .holder .nav #next, #overlay .holder .nav #prev {
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 10px;
  width: 50%;
  box-sizing: border-box;
  font-size: 40px;
}
#overlay .holder .nav #next span, #overlay .holder .nav #prev span {
  top: 50%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  position: relative;
}
#overlay .holder .nav #next {
  right: 0;
  text-align: right;
}
#overlay .holder .nav #prev {
  left: 0;
  text-align: left;
}
#overlay .holder .nav #close {
  right: 10px;
  top: 0;
  font-size: 30px;
  opacity: 0.6;
  z-index: 1000000;
  position: absolute;
  text-align: left;
  box-sizing: border-box;
}
#overlay .holder .nav #close:hover {
  opacity: 1;
}

#imageGallery img {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.24);
}

#skills {
  padding: 0 0 30px 30px;
}
#skills img {
  height: 36px;
  width: 36px;
}
.skills-elements {
  margin-top: 10px;
  display: flex;
  align-items: center;
}
.skills-elements img {
    margin-right: 5px;
}
